<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{22,0},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{44,0},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{66,0},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{88,0},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,34},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{22,34},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{44,34},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{66,34},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{88,34},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,68},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{22,68},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{44,68},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{66,68},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{88,68},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>char0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,34}</string>
				<key>spriteSourceSize</key>
				<string>{22,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,102},{22,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>char.png</string>
				<key>textureFileName</key>
				<string>char</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
