<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chartest0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{97,0},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{194,0},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{291,0},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{388,0},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,133},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{97,133},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{194,133},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{291,133},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{388,133},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,266},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{97,266},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{194,266},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{291,266},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{388,266},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,399},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{97,399},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{194,399},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{291,399},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chartest0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,133}</string>
				<key>spriteSourceSize</key>
				<string>{97,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{388,399},{97,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>charTest1-1.png</string>
				<key>textureFileName</key>
				<string>charTest1-1</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
