button {
  background-color:#ddd;
  box-shadow:0;
  border:0;
  padding:20px;



}
button:focus {
  outline:0;
}

button:hover{
  cursor:pointer;
}
button.selected {
  background-color:#aaa;
}

.canvas {
  background-color:#777;
      width: 100%;
  height:700px;
  margin:20px auto;
  position:relative;
  border:1px solid #aaa;
  overflow:hidden;
}

.map_container {
  position:absolute;
  background-color:#eee;
}
.point {
  width:20px;
  height:20px;
  position:absolute;
  background-color:red;

}

.point:hover {
  cursor:pointer;
}
.map_element span {
    max-width: 100%;
    display: block;
    word-wrap: break-word;
    font-size: 75%;
    letter-spacing: -0.5px;
    line-height: 1.4;
}

.popup {
  position:absolute;
  width: 238px;
  height: 235px;
  top:0;
  background-color:#fff;
  border:1px solid #0f0;
  overflow:hidden;
  display:none;
  z-index: 9999;


}

.drag_cutton {
  z-index:100;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  display:none;
}
.drag_cutton:hover {
  cursor:all-scroll;
}
.make_square_cutton, .starting_point_cutton {
  position:absolute;
  z-index:100;
  left:0;
  right:0;
  top:0;
  bottom:0;
  display:none;
}
.make_square_cutton:hover {
  cursor:pointer;
}
.grid {
  position:absolute;
}
.map_elements {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:5;
}
.map_element {
    position: absolute;
    background-color: #aaa;
    border: 1px solid #ddd;
}
.map_element:hover {
  cursor:pointer;
}

.map_element.type_solid_wall {
  background-color: #fff;
  border: 1px solid #ff4b8d;
}
.lines {
    z-index: 3;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.lines .line {
  position:absolute;
  background-color:#aaa;
}

.lines .line.left_right {
  left:0;
  right:0;
  width:auto;
  height:1px;
}
.lines .line.bottom_top {
  top:0;
  bottom:0;
  height:auto;
  width:1px;
}

.map_element.type_location {
  background-color: #8e91ff;
  border: 1px solid #5a5fff;
  opacity: 0.6;
}
