<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>character1-1Animation instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,0},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,0},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,0},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,0},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,133},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,133},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,133},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,133},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,133},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,133},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,266},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,266},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,266},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,266},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,266},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,266},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,399},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,399},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,399},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>character1-1Animation instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,399},{90,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>charTest.png</string>
				<key>textureFileName</key>
				<string>charTest</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
